@media only screen and (max-width: 1050px) {
    .main__spoiler-about_title.active::before, .main__spoiler-about_text {
        width: 92%;
    }
}
@media only screen and (max-width: 916px) { 
    .main__spoiler-about_title.active::before, .main__spoiler-about_text {
        width: 91%;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 900px) {
    .main__spoiler-about_title{
        font-size: 22px;
    }
    .main__spoiler-about_title.active::before, .main__spoiler-about_text {
        width: 91%;
    }
}
@media only screen and (max-width: 885px) {
    .main__spoiler-about_title.active::before, .main__spoiler-about_text {
        width: 90%;
    }
}
@media only screen and (max-width: 800px) {
    .main__spoiler-about_title.active::before, .main__spoiler-about_text {
        width: 89%;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .main__spoiler-about {
        padding: 0;
    }
    .main__spoiler-about_title::after {
        top: 0;
        line-height: 28px;
        font-size: 29px;
        width: 40px;
        height: 32px;
        padding: 2px 12px;
    }
    .main__spoiler-about_title.active::after {
        content: "-";
        font-size: 31px;
        line-height: 28px;
        padding: 2px 12px;
    }
    
    .main-title {
        font-size: 56px;
        margin-top: 80px;
        margin-bottom: 100px;
    }
    .main__spoiler-about-name {
        font-size: 26px;
    }
    .main__spoiler-about_title {
        font-size: 18px;
    }
    .main__spoiler-about_number {
        font-size: 14px;
        margin-right: 13px;
    }
    .main__spoiler-about_title::after {
        margin-top: -5px;
    }
    .main__spoiler-about_text {
        font-size: 14px;
    }
    .main__spoiler-about_title.active::before, .main__spoiler-about_text {
        width: 95%;
    }
}
@media only screen and (max-width: 685px) {
    .main__spoiler-about_text, .main__spoiler-about_title.active::before {
        width: 94%;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 620px) {
    .main__spoiler-about_item {
        margin-bottom: 12px;
    }
    .main__spoiler-about-name {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .main__spoiler-about {
        margin-bottom: 56px;
    }
    .main__spoiler-about_title.active::before, .main__spoiler-about_text {
        width: 93%;
    }
}

@media only screen and (max-width: 535px) { 
    .main__spoiler-about_text, .main__spoiler-about_title.active::before {
        width: 92%;
    }
}
@media only screen and (max-width: 436px) {
    .main__spoiler-about_title.active::before, .main__spoiler-about_text {
        width: 91%;
    }
}
@media only screen and (max-width: 375px) {
    .main-title {
        font-size: 32px;
        margin-top: 72px;
    }
    .main__spoiler-about_title.active::before, .main__spoiler-about_text {
        width: 89%;
    }
    
}
/* Custom, iPhone Retina */


