@font-face {
    font-family:'IBMPlexMono Sans';
  src: url('../fonts/IBMPlexMono-SemiBold.woff') format('woff'),
  url('../fonts/IBMPlexMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal; 
}
@font-face {
    font-family:'IBMPlexSans Sans';
  src: url('../fonts/IBMPlexSans-Medium.woff') format('woff'),
  url('../fonts/IBMPlexSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal; 
}
@font-face {
  font-family:'IBMPlexSans Sans';
src: url('../fonts/IBMPlexSans-SemiBold.woff') format('woff'),
url('../fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
font-weight: 600;
font-style: normal; 
}
@font-face {
    font-family:'IBMPlexSans Sans';
  src: url('../fonts/IBMPlexSans-Regular.woff') format('woff'),
  url('../fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal; 
}
@font-face {
    font-family:'TTFirsNeue Sans';
  src: url('../fonts/TTFirsNeue-Medium.woff') format('woff'),
  url('../fonts/TTFirsNeue-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal; 
}
@font-face {
  font-family:'TTFirsNeue Sans';
src: url('../fonts/TTFirsNeue-DemiBold.woff') format('woff'),
url('../fonts/TTFirsNeue-DemiBold.woff2') format('woff2');
font-weight: 600;
font-style: normal; 
}
@font-face {
  font-family:'TTFirsNeue Sans';
src: url('../fonts/TTFirsNeue-Regular.woff') format('woff'),
url('../fonts/TTFirsNeue-Regular.woff2') format('woff2');
font-weight: 400;
font-style: normal; 
}