.footer {
    background-color: #141217;
    padding-top: 72px;
    padding-bottom: 35px;
    &__top {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-bottom: 64px;
        border-bottom: 1px solid #302E35;
        &-logo {margin-bottom: 28px;}
        &-address {font-size: 14px; max-width: 190px; color: #999AA3; margin-bottom: 28px; line-height: 140%;}
        &_messadgers {
            &-nt {
                position: relative;
                display: inline-block;
                width: 44px;
                height: 44px;
                background-color: #1E1C24;
                border-radius: 50%;
                margin-right: 16px;
                &:last-child {margin-right: 0;}
            }
            &-image {
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                margin-left: -8px;
                margin-top: -8px;
            }
        }
        // &_contacts {margin-right: 224px;}
        &-title { font-weight: 500;}
        &_item {color: #999AA3; }
        & li {margin-top: 16px;}
        & li:first-child {margin-top: 24px;}
        &_navFlex {display: flex;}
        &_nav:first-child {margin-right: 160px;}
        &_app {
            // position: absolute;
            // right: 0;
            // top: 0;
            &-info {color: #999AA3; max-width: 230px; margin-top: 24px; line-height: 140%;}
            &-icon {
                display: block; 
                margin-top: 16px;
                width: 150px;
                height: 44px;
            }
            &-icon2 {
                display: block; 
                margin-top: 16px;
                width: 146px;
                height: 44px;
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        &-text {font-size: 14px; color: #797A81;}
        &-list { display: flex;}
        &-item {margin-right: 48px; color: #999AA3; font-size: 14px;}
    }
}


@media only screen and (max-width: 992px) {
    .footer__top_nav:first-child {
        margin-right: 60px;
    }
}
  /* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .footer__top {
        flex-direction: column;
        align-items: center;
    }
    .footer__top_navFlex {
        margin-top: 48px;
    }
    .footer__top_app {
        margin-top: 48px;
    }
}
  /* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .footer__top {
        align-items: flex-start;
    }
    .footer__bottom {
        flex-direction: column-reverse;
    }
    .footer__bottom-list {
        flex-direction: column;
    }
    .footer__bottom-list li {
        margin-bottom: 24px;
    }
    .footer__bottom-list li:last-child{
        margin-bottom: 40px;
    }
}
  /* Custom, iPhone Retina */
@media only screen and (max-width: 400px) {
 
}
// ------------ popup ------------
.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
}

.popup__bg.active { 
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active { 
    transform: translate(-50%, -50%) scale(1); 
    transition: 0.5s all;
}
.close-popup {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-bottom: 10px;

}
.popup-p1 {
    color: #141217;
    line-height: 100%;
}
/* Конец важной части */

@media only screen and (max-width: 486px) {
    .popup {
        width: 300px;
    }
}