/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}


/* Конкретный слайдер */
.comment__slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:300px){
	.comment__slider {
		padding: 0px 40px;
	}
}

.comment__slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -15px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 15px;
	height: 30px;
}
.comment__slider .slick-arrow.slick-prev{
	left: 0;
    margin-left: -10px;
	background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.comment__slider .slick-arrow.slick-next{
	right: 0;
    margin-right: -10px;
	background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.comment__slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.comment__slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.comment__slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.comment__slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.comment__slider .slick-dots li.slick-active button{
	background-color: transparent;
	
}

.comment__slider {
	padding: 0px 15px;
}
.comment__slider img{
	max-width: 460px;
}
