@charset "UTF-8";

.main {
  margin-top: 120px;
  margin-bottom: 80px;
}

.main-title {
  font-family: TTFirsNeue Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 110%;
  padding: 0 0 32px 0;
  border-bottom: 1px solid #37353D;
}

.block1__box {
  margin-bottom: 120px;
}

.block1__box-info {
  max-width: 488px;
  font-size: 18px;
  line-height: 160%;
  margin-right: 48px;
}

.block1__box-image {
  position: relative;
  margin-left: 69px;
}

.block1__box-image::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 331px;
  background-color: #37353D;
  left: 0;
  margin-left: -127px;
}

.block-span {
  color: #60CCE2;
}

.block-container {
  Display: grid;
  grid-template-areas: 'number title' 'number content';
  Grid-template-columns: 80px 1fr;
  Grid-template-rows: 80px 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.block-text {
  grid-area: title;
  font-family: TTFirsNeue Sans;
  width: 466px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  align-self: center;
}

.block-number {
  position: relative;
  grid-area: number;
  font-family: TTFirsNeue Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  width: 80px;
  height: 80px;
  background: #FD7B01;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 40px;
}

.block-number::before {
  content: "";
  left: 0;
  margin-left: 37px;
  top: 100%;
  margin-top: 32px;
  position: absolute;
  width: 6px;
  height: 523px;
  background: #37353D;
  border-radius: 4px;
}

.block-box {
  grid-area: content;
  max-width: 1080px;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(#212126), to(#26262E));
  background: -o-linear-gradient(top, #212126 0%, #26262E 100%);
  background: linear-gradient(180deg, #212126 0%, #26262E 100%);
  -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.block2 {
  margin-bottom: 120px;
}

.block2__title-number::before {
  height: 409px;
}

.block2-line {
  height: 217px;
  font-size: 0px;
}

.block2__box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.block2__box_info-text {
  max-width: 488px;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 32px;
}

.block2__box_example {
  position: relative;
}

.block2__box_example::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 217px;
  background-color: #37353D;
  left: 0;
  margin-left: -48px;
}

.block2__box_example-title {
  font-weight: 500;
  font-size: 16px;
}

.block2__box_example-field {
  margin-top: 12px;
  padding: 14px 93px 14px 20px;
  width: 400px;
  height: 56px;
  background: #2F3038;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.block2__box_example-key {
  font-size: 16px;
  color: #797A81;
  margin-left: 12px;
}

.block2__box_example-btn {
  font-family: IBMPlexMono Sans;
  padding: 19px 178px;
  background: #FD7B01;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
}

.block3__title-number::before {
  height: 252px;
}

.block3 {
  margin-bottom: 120px;
}

.block3__box-text {
  font-size: 18px;
  line-height: 160%;
  max-width: 488px;
}

.block3__box_example {
  position: relative;
  margin-left: 100px;
}

.block3__box_example::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 60px;
  background-color: #37353D;
  left: 0;
  margin-left: -109px;
}

.block3__box_example-key {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block3__box_example-key::before {
  content: url("../img/btc-howitworks.svg");
  margin-right: 12px;
}

.block3__box_example-title {
  font-weight: 500;
  font-size: 16px;
  color: #797A81;
  margin-bottom: 16px;
}

.block4__box-text {
  max-width: 488px;
  font-size: 18px;
  line-height: 160%;
}

.block4__box_company {
  position: relative;
  margin-left: 68px;
  width: 386px;
  display: grid;
  grid-template-columns: 128px 104px 74px;
  grid-template-rows: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-gap: 40px;
  grid-row-gap: 31px;
}

.block4__box_company::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 122px;
  background-color: #37353D;
  left: 0;
  margin-left: -62px;
}

.block4 {
  margin-bottom: 80px;
}

.block4-container {
  padding-bottom: 80px;
  border-bottom: 1px solid #37353D;
}

.block4__title-number::before {
  opacity: 0;
}

.priorities__box {
  margin-bottom: 80px;
  padding: 48px;
  background: -webkit-gradient(linear, left top, left bottom, from(#212126), to(#26262E));
  background: -o-linear-gradient(top, #212126 0%, #26262E 100%);
  background: linear-gradient(180deg, #212126 0%, #26262E 100%);
  border-radius: 16px;
}

.priorities__box_wrap {
  margin: 0 auto;
  max-width: 100ы0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.priorities__box-item {
  font-weight: 600;
  font-size: 24px;
  position: relative;
}

.priorities__box-item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 32px;
  background-color: #fff;
  right: 100%;
  margin-right: 24px;
  top: -3px;
}

.priorities__box-item1::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#49A0EF), to(#0C76D6));
  background: -o-linear-gradient(top, #49A0EF 0%, #0C76D6 100%);
  background: linear-gradient(180deg, #49A0EF 0%, #0C76D6 100%);
  border-radius: 2px;
}

.priorities__box-item2::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#E4C573), to(#D8A829));
  background: -o-linear-gradient(top, #E4C573 0%, #D8A829 100%);
  background: linear-gradient(180deg, #E4C573 0%, #D8A829 100%);
  border-radius: 2px;
}

.priorities__box-item3::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#71DB8F), to(#45D16D));
  background: -o-linear-gradient(top, #71DB8F 0%, #45D16D 100%);
  background: linear-gradient(180deg, #71DB8F 0%, #45D16D 100%);
  border-radius: 2px;
}

.priorities__box-item4::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#F0B77D), to(#DD9449));
  background: -o-linear-gradient(top, #F0B77D 0%, #DD9449 100%);
  background: linear-gradient(180deg, #F0B77D 0%, #DD9449 100%);
  border-radius: 2px;
}

.priorities__box-item1 {
  padding-right: 8px;
}

.priorities__box-item4 {
  margin-left: 18px;
}

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

@media only screen and (max-width: 1180px) {
  .block1__box-image {
    margin-left: 89px;
  }

  .block1__box-image::before {
    margin-left: -133px;
  }

  .block2__box_info-text {
    margin-right: 25px;
  }

  .block2__box_example {
    margin-left: 83px;
  }

  .block2__box_example::before {
    margin-left: -62px;
  }

  .block3__box-text {
    padding-right: 25px;
  }

  .block3__box_example {
    margin-left: 100px;
  }

  .block3__box_example::before {
    margin-left: -120px;
  }

  .block4__box-text {
    padding-right: 25px;
  }

  .block4__box_company::before {
    margin-left: -75px;
  }
}

@media only screen and (max-width: 1140px) {
  .block2__box_example::before {
    height: 259px;
  }
}

@media only screen and (max-width: 1070px) {
  .block2__box_example::before {
    height: 305px;
  }
}

@media only screen and (max-width: 992px) {
  .block1__box-image {
    margin-left: 54px;
  }

  .block1__box-image::before {
    margin-left: -78px;
  }

  .block2__box_info-text {
    margin-right: 25px;
  }

  .block2__box_example {
    margin-left: 83px;
  }

  .block2__box_example::before {
    margin-left: -90px;
    height: 100%;
  }

  .block3__box_example {
    margin-left: 100px;
  }

  .block3__box_example::before {
    margin-left: -62px;
  }

  .block4__box_company {
    margin-left: 24px;
  }

  .block4__box_company::before {
    margin-left: -19px;
  }

  .block-container {
    Display: grid;
    grid-template-areas: 'number title' 'content content';
  }

  .block-number::before {
    opacity: 0;
  }

  .block2__box_info-text {
    font-size: 16px;
  }

  .block1__box-info {
    font-size: 16px;
  }

  .block3__box-text {
    font-size: 16px;
  }

  .block4__box-text {
    font-size: 16px;
  }

  .block2__box_example-field {
    width: 303px;
  }

  .block2__box_example-key {
    font-size: 14px;
  }

  .block2__box_example-btn {
    padding: 20px 133px;
  }

  .priorities__box_wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 48px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .priorities__box_wrap {
    position: relative;
  }

  .priorities__box_wrap::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #37353d;
    bottom: 50%;
    left: 0;
  }

  .priorities__box_wrap::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #37353d;
    bottom: 0;
    left: 50%;
  }

  .priorities__box-item4 {
    margin-left: 28px;
  }

  .priorities__box-item1 {
    padding-right: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .block1__box-image {
    margin-left: 0px;
  }

  .block2__box_example {
    margin-left: 0px;
  }

  .block4__box_company {
    margin-left: 0px;
  }

  .block3__box_example {
    margin-left: 0px;
  }

  .block4__box-text,
  .block1__box-info,
  .block2__box_info,
  .block3__box-text {
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  .block2__box_info-text {
    max-width: 100%;
  }

  .block4__box-text::before,
  .block1__box-info::before,
  .block2__box_info-text::before,
  .block3__box-text::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #37353d;
    bottom: -18px;
  }

  .block4__box_company::before,
  .block3__box_example::before,
  .block2__box_example::before,
  .block1__box-image::before {
    width: 0px;
  }

  .main-title {
    font-size: 48px;
  }

  .priorities__box {
    padding: 20px;
  }

  .block-box {
    padding: 20px;
  }

  .block-text {
    font-size: 28px;
    width: 300px;
  }

  .block-container {
    Grid-template-columns: 44px 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .block-number {
    font-size: 20px;
    width: 44px;
    height: 44px;
    margin-right: 16px;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .block2 {
    margin-bottom: 0;
  }

  .block3 {
    margin-bottom: 0;
  }

  .block4 {
    margin-bottom: 24px;
  }

  .block-box {
    margin-bottom: 56px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block4-container {
    padding-bottom: 0;
    border-bottom: none;
  }

  .main-title {
    padding: 0 0 32px 0;
  }

  .main {
    margin-top: 72px;
  }

  .block3__box_example-key {
    font-size: 14px;
  }

  .block1__box-info {
    margin-bottom: 48px;
    margin-right: 0;
  }

  .block2__box_info {
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .block2__box_info-text {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .block2__box_info-image {
    width: 94px;
  }

  .block2__box_example {
    display: block;
    margin: 0 auto;
  }

  .block3__box-text {
    margin-bottom: 48px;
    padding: 0;
  }

  .block4__box_company {
    grid-template-columns: 99px 79px 58px;
    width: auto;
  }

  .block4__box_company-img1 {
    width: 99px;
  }

  .block4__box_company-img2 {
    width: 53px;
  }

  .block4__box_company-img3 {
    width: 36px;
  }

  .block4__box_company-img4 {
    width: 77px;
  }

  .block4__box_company-img5 {
    width: 70px;
  }

  .block4__box_company-img6 {
    width: 58px;
  }

  .block4__box_company-img7 {
    width: 92px;
  }

  .block4__box_company-img8 {
    width: 72px;
  }

  .block4__box_company-img9 {
    width: 39px;
  }

  .block4__box-text {
    padding: 0;
    margin-bottom: 48px;
  }

  .priorities__box-item {
    font-size: 16px;
  }

  .priorities__box-item::before {
    height: 100%;
    margin-right: 8px;
  }

  .priorities__box-item4 {
    margin-left: 18px;
  }

  .priorities__box-item1 {
    padding-right: 9px;
  }

  .priorities__box-item::before {
    top: -1px;
  }
}

@media only screen and (max-width: 480px) {
  .block-text {
    font-size: 20px;
    width: 224px;
  }

  .main-title {
    font-size: 32px;
  }

  .block3__box_example-key {
    font-size: 12px;
  }

  .block4__box_company {
    grid-column-gap: 15px;
  }

  .block1__box-image img {
    width: 250px;
  }
}