@charset "UTF-8";

.main-section {
  position: relative;
}

.main {
  margin-top: 121px;
  margin-bottom: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 350px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-filter: blur(500px);
          filter: blur(500px);
  z-index: 0;
}

.main__info-title {
  max-width: 606px;
  font-family: TTFirsNeue Sans;
  font-weight: 500;
  font-size: 72px;
  line-height: 110%;
}

.main__info-title-orange {
  color: #fd7b01;
}

.main__info-title::before {
  content: "";
  position: absolute;
  background: url(../img/elipse-main.svg);
  background-repeat: no-repeat;
  left: 0;
  bottom: 41px;
  width: 541px;
  height: 501px;
  top: -92px;
}

.main__info-subtitle {
  margin-top: 24px;
  margin-bottom: 48px;
  width: 494px;
  font-size: 20px;
  line-height: 160%;
}

.main__info-link {
  position: relative;
  display: inline-block;
  font-family: IBMPlexMono Sans;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #fd7b01;
  padding: 19px 32px 19px 72px;
  background: #26262E;
  border: 1px solid #fd7b01;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

.main__info-link::before {
  content: "";
  position: absolute;
  display: inline-block;
  background: url(../img/shield.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 24px;
  margin-left: -38px;
  top: 15px;
}

.main__crypto {
  font-family: IBMPlexSans Sans;
  width: 480px;
  height: 496px;
  background: #26262e;
  border-radius: 12px;
  padding: 48px 40px;
}

.main__crypto-title {
  font-family: TTFirsNeue Sans;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.02em;
}

.main__crypto-subtitle {
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 12px;
}

.main__crypto-subtitle-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__crypto-subtitle-info {
  display: none;
  font-family: IBMPlexSans Sans;
  margin: 12px 0;
  color: #fd7b01;
}

.main__crypto-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 40px;
}

.main__crypto-info_results {
  font-family: IBMPlexSans Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #fd7b01;
}

.main__crypto-change {
  width: 32px;
  height: 32px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
}

.main__crypto-change::before {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50%;
  width: 2px;
  background: #2f3038;
  left: calc((100% - 1px) / 2);
  top: -50%;
  position: absolute;
  z-index: 0;
}

.main__crypto-change::after {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 45%;
  width: 2px;
  background: #2f3038;
  left: calc((100% - 1px) / 2);
  top: 100%;
  position: absolute;
  z-index: 1;
}

.main__crypto-field {
  width: 400px;
  height: 56px;
  left: 960px;
  top: 334px;
  background: #2f3038;
  border-radius: 12px;
}

.main__crypto-exchange {
  font-size: 16px;
  line-height: 100%;
  color: #999aa3;
}

.main__crypto-btn {
  display: block;
  position: relative;
  text-align: center;
  width: 400px;
  height: 56px;
  background: #fd7b01;
  border-radius: 12px;
  border: 1px solid #fd7b01;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: IBMPlexMono Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}

.main__crypto_field-icon {
  right: 80px;
}

.title {
  font-family: TTFirsNeue Sans;
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
  max-width: 550px;
  margin-bottom: 60px;
}

.advantages {
  margin-bottom: 180px;
}

.advantages__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}

.advantages__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__block-icon {
  width: 96px;
  height: 96px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  padding: 20px;
  margin-right: 40px;
}

.advantages__block-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  max-width: 200px;
}

.advantages__block-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.advantages__block:last-child {
  margin-top: 40px;
}

.advantages__boxbig {
  max-width: 640px;
  padding: 48px;
  border-radius: 16px;
  background: #26262E;
  /* Тень */
  -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
}

.advantages__boxbigmar {
  margin-right: 40px;
}

.advantages__boxsmall {
  max-width: 520px;
  padding: 48px;
  border-radius: 16px;
  background: #26262E;
  /* Тень */
  -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
}

.advantages__boxsmallmar {
  margin-right: 40px;
}

.market {
  margin-bottom: 200px;
}

.market__box {
  max-width: 1200px;
  background: #26262e;
  border-radius: 16px;
  margin-bottom: 60px;
}

.market__box_top {
  height: 64px;
  border-bottom: 1px solid #37353d;
}

.market__box_height {
  height: 72px;
}

.market__boxFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.market__text-numbertop {
  line-height: 64px;
  text-align: center;
  font-size: 16px;
  color: #797a81;
}

.market__text-buytop {
  line-height: 64px;
  font-size: 16px;
  color: #797a81;
}

.market__text-pricetop {
  line-height: 64px;
  font-size: 16px;
  text-align: right;
  color: #797a81;
}

.market__text-changetop {
  line-height: 64px;
  font-size: 16px;
  text-align: right;
  color: #797a81;
}

.market__text-volumetop {
  line-height: 64px;
  font-size: 16px;
  text-align: right;
  color: #797a81;
}

.market__text-actiontop {
  line-height: 64px;
  font-size: 16px;
  text-align: right;
  color: #797a81;
}

.market__text-global {
  line-height: 72px;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
}

.market__text-global span {
  color: #999aa3;
}

.market__text-number {
  color: #999aa3;
  text-align: center;
}

.market__text-buy {
  text-align: left;
}

.market__text-buyimage {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.market__text-buy-usdt span {
  color: #999aa3;
}

.market__text-price span {
  color: #999aa3;
}

.market__text-change-down {
  color: #ff4b32;
}

.market__text-change {
  color: #16c784;
}

.market__text-volume span {
  color: #999aa3;
}

.market__text-action {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 33px;
  font-family: IBMPlexMono Sans;
}

.market__text_btn {
  color: #60CCE2;
  float: right;
  width: 108px;
  height: 34px;
  background: #31333b;
  /* Turquoise */
  border: 1.2px solid #60cce2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.market__number {
  width: 100px;
}

.market__buy {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.market__price {
  width: 195px;
}

.market__change {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.market__change svg {
  margin-right: 8px;
}

.market__volume {
  width: 238px;
}

.market__action {
  width: 188px;
  padding-right: 20px;
}

.market__btn {
  text-align: center;
}

.market__btn-text {
  color: #fd7b01;
}

.market-btn {
  display: inline-block;
  padding: 19px 56px;
  font-family: IBMPlexMono Sans;
  font-weight: 600;
  font-size: 18px;
  /* Background */
  background: #1d1b22;
  /* Orange */
  border: 1px solid #fd7b01;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

.redText {
  color: #ff4b32;
}

.greenText {
  color: #16c784;
}

.stat {
  margin-bottom: 180px;
}

.stat__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stat__block-title {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 40px;
}

.stat__boxbig {
  width: 680px;
  height: 577px;
  background: #26262e;
  border-radius: 16px;
  padding: 48px;
  position: relative;
}

.stat__boxbig_field {
  height: 95px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.stat__boxbig_field:last-child {
  margin-bottom: 0;
}

.stat__boxbig_field:last-child::before {
  height: 0;
}

.stat__boxbig_field::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #37353d;
  bottom: -3px;
}

.stat__boxbig_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
  font-family: IBMPlexSans Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #999aa3;
  margin-bottom: 12px;
}

.stat__boxbig_exchange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
}

.stat__boxbig_wellbefore {
  left: 0;
  margin-right: auto;
}

.stat__boxbig_well {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat__boxbig_arrow {
  justify-self: center;
  position: absolute;
}

.stat__boxbig_wellafter {
  position: absolute;
  right: 0px;
}

.stat__boxbig-image {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.stat__boxbig-name {
  font-family: IBMPlexSans Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat__boxbig-name span {
  font-family: IBMPlexSans Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #999aa3;
  margin-left: 6px;
}

.stat__boxbig-price {
  padding: 12px;
  background: #31333b;
  border-radius: 8px;
  font-family: IBMPlexSans Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.stat__boxbig-price1 {
  padding: 12px;
  background: #31333b;
  border-radius: 8px;
  font-family: IBMPlexSans Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  position: absolute;
  right: 57%;
  color: #ffffff;
}

.stat__boxsmall {
  padding: 48px;
  width: 480px;
  height: 222px;
  background: #26262e;
  border-radius: 16px;
  margin-bottom: 40px;
}

.stat__boxsmall_done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat__boxsmall_image {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  padding: 14px;
  margin-right: 16px;
}

.stat__boxsmall_info-number {
  font-weight: 600;
  font-size: 26px;
}

.stat__boxsmall_info-text {
  color: #999aa3;
  font-size: 18px;
  margin-top: 8px;
}

.stat__boxmedium {
  width: 480px;
  height: 315px;
  background: #26262e;
  border-radius: 16px;
  padding: 48px;
}

.stat__boxmedium_static {
  width: 100%;
}

.stat__boxmedium_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat__boxmedium_info-progress {
  margin-right: 48px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stat__boxmedium_info-progress::before {
  display: block;
  content: "";
  width: 110%;
  height: 50px;
  left: -40px;
  background: #26262e;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
}

.stat__boxmedium_info-progress::after {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fd7b01;
  width: 8px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  left: 6px;
  bottom: 47px;
}

.stat__boxmedium_info-progress-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat__boxmedium_info-progress-text span:first-child {
  font-family: IBMPlexSans Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 6px;
}

.stat__boxmedium_info-progress-text span:last-child {
  font-family: IBMPlexSans Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  color: #797a81;
}

.stat__boxmedium_info-progress-text::after {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #372d2a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  left: 115px;
  bottom: -12px;
}

.stat__boxmedium_info-progress-bar {
  width: 160px;
  height: 160px;
  overflow: hidden;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  position: relative;
}

.stat__boxmedium_info-progress-bar svg {
  width: 160px;
  height: 160px;
}

.stat__boxmedium_time {
  width: 100%;
  height: 62px;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
}

.stat__boxmedium_time:first-child {
  margin-bottom: 16px;
}

.stat__boxmedium_time-number {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
}

.stat__boxmedium_time-text {
  font-weight: 400;
  color: #797a81;
  font-size: 14px;
}

.comment {
  margin-bottom: 120px;
}

.comment__slider {
  margin-bottom: 60px;
}

.comment__slider_box {
  margin: 0 30px;
  width: 460px;
  height: 292px;
  background: #26262E;
  border-radius: 16px;
  padding: 40px;
}

.comment__slider_boxtop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.comment__slider_boxtop-user {
  margin-right: 24px;
}

.comment__slider_info-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
}

.comment__slider_info-text {
  font-size: 16px;
  line-height: 150%;
  color: #BFC1CC;
}

.comment__grade-trustpilot {
  display: block;
  margin: 0 auto;
}

.comment__grade-image {
  display: block;
  margin: 0 auto 12px auto;
}

.comment__grade_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px 0;
}

.comment__grade-text {
  font-size: 16px;
  color: #999AA3;
}

.comment__grade-core {
  margin-right: 12px;
}

.comment__grade-reviews {
  margin-left: 12px;
}

.comment__grade-stars {
  display: block;
  margin: 0 auto;
}

.main__crypto_field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2F3038;
  border-radius: 12px;
  height: 56px;
  position: relative;
}

.main__crypto_field-icon {
  display: block;
  position: absolute;
  right: 95px;
  width: 28px;
  height: 28px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}

.main__crypto_field-name {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #797A81;
  position: absolute;
  right: 40px;
}

.main__crypto_field-drop {
  position: absolute;
  width: 100%;
  height: 150px;
  background: #2F3038;
  top: 60px;
  border-radius: 12px;
  z-index: 3;
  overflow-y: auto;
  display: none;
}

.main__crypto_field-drop::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

.main__crypto_field-drop::-webkit-scrollbar-thumb {
  background: #FD7B01;
  border-radius: 12px;
}

.main__crypto_field-drop-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.main__crypto_field-drop-el:hover {
  background: #26262E;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.main__crypto_field-drop-el img {
  margin-right: 20px;
  width: 28px;
  height: 28px;
}

.main__crypto_field-drop-el p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #FD7B01;
}

.main__crypto_input {
  width: 100%;
  background: transparent;
  border-radius: 12px;
  padding-left: 20px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #797A81;
  height: 100%;
}

.main__crypto_input::-webkit-outer-spin-button,
.main__crypto_input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

.main__crypto_drop-btn {
  background: transparent;
  border-radius: 0 12px 12px 0;
  height: 100%;
  position: relative;
  padding-right: 20px;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-left: 1px solid #26262e;
}

.main__crypto_drop-btn svg {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

@-webkit-keyframes drop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes drop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes up {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/*==========  Desktop First  ========== */

/* Large Devices, Wide Screens */

/* Medium Devices, Desktops */

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina */

.main__crypto_field-icon {
  right: 89px;
}

@media only screen and (max-width: 1200px) {
  .stat__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .stat__boxbig {
    width: 100%;
    margin-bottom: 60px;
  }

  .stat_blockNoFlex {
    width: 100%;
  }

  .stat__boxsmall {
    width: 100%;
  }

  .stat__boxmedium {
    width: 100%;
  }

  .stat__boxbig-price1 {
    right: 70%;
  }
}

@media only screen and (max-width: 1050px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__info {
    text-align: center;
    margin-bottom: 60px;
  }

  .main__info-subtitle {
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 48px;
  }

  .main__info-title::before {
    top: 0;
  }

  .main__info::before {
    background: rgba(255, 255, 255, 0.2);
  }

  .stat__boxbig-price1 {
    right: 63%;
  }
}

@media only screen and (max-width: 992px) {
  .market__change {
    display: none;
  }
}

@media only screen and (max-width: 880px) {
  .stat__boxbig-price1 {
    right: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .stat__boxbig {
    position: relative;
  }

  .stat__boxbig_field {
    height: 95px;
    width: 100%;
    margin-bottom: 20px;
  }

  .stat__boxbig_field:last-child {
    margin-bottom: 0;
  }

  .stat__boxbig_field:last-child::before {
    height: 0;
  }

  .stat__boxbig_field::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #37353d;
    bottom: -8px;
  }

  .advantages__top {
    margin-bottom: 20px;
  }

  .advantages__block:last-child {
    margin-top: 24px;
  }

  .comment {
    margin-bottom: 80px;
  }

  .main__crypto {
    height: 100%;
  }

  .main__info::before {
    opacity: 0;
    width: 300px;
    height: 300px;
  }

  .market {
    display: none;
  }

  .advantages__block {
    display: block;
  }

  .advantages__boxbigmar {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .advantages__boxsmallmar {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .advantages__boxsmall {
    max-width: 100%;
    padding: 24px;
  }

  .advantages__boxbig {
    max-width: 100%;
    padding: 24px;
  }

  .advantages__block-icon {
    width: 56px;
    height: 56px;
    padding: 14px;
    margin-right: 20px;
  }

  .advantages__block-image {
    width: 28px;
  }

  .advantages__block-title {
    font-size: 18px;
  }

  .advantages__block-info {
    font-size: 16px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 32px;
  }

  .main__info-title {
    margin: 0 auto;
    max-width: 343px;
    font-size: 46px;
  }

  .main__info-subtitle {
    font-size: 16px;
  }

  .main {
    margin-bottom: 100px;
  }

  .stat__boxbig {
    height: 100%;
    padding: 24px;
    margin-bottom: 24px;
  }

  .stat__boxbig_field {
    position: relative;
    height: 131px;
  }

  .stat__boxbig_wellbefore {
    left: 0;
    width: 100%;
  }

  .stat__boxbig_wellafter {
    left: 0;
    bottom: 15px;
    width: 100%;
  }

  .stat__boxbig_arrow {
    display: none;
  }

  .stat__boxbig-price {
    position: absolute;
    right: 28px;
  }

  .stat__boxbig-price1 {
    right: 28px;
  }

  .stat__block-title {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .stat__boxbig_data {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    font-size: 14px;
  }

  .stat__boxbig-month {
    margin-right: 12px;
  }

  .stat__boxbig-pricetop::after {
    content: "";
    position: absolute;
    background-image: url(../img/way.svg);
    width: 29px;
    height: 61px;
    right: -25px;
    top: 15px;
    z-index: 2;
  }

  .stat__boxsmall_image-icon {
    width: 28px;
  }

  .stat__boxsmall_image {
    width: 56px;
    height: 56px;
  }

  .stat__boxsmall_info-number {
    font-size: 18px;
  }

  .stat__boxsmall_info-text {
    font-size: 16px;
  }

  .stat__boxsmall {
    padding: 24px;
    width: 100%;
    height: 100%;
  }

  .stat__boxmedium_info-progress-bar {
    width: 120px;
    height: 120px;
  }

  .stat__boxmedium_info-progress-bar svg {
    width: 120px;
    height: 120px;
  }

  .stat__boxmedium_time-number {
    font-size: 16px;
  }

  .stat__boxmedium_time-text {
    font-size: 12px;
  }

  .stat__boxmedium_time {
    width: 100%;
    height: 48px;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 12px;
  }

  .stat__boxmedium_info-progress-text span:first-child {
    font-size: 18px;
  }

  .stat__boxmedium_info-progress-text span:last-child {
    font-size: 12px;
  }

  .stat__boxmedium_info-progress-text {
    padding-bottom: 20px;
  }

  .stat__boxmedium {
    width: 100%;
    height: 100%;
    padding: 24px;
  }

  .stat__boxsmall {
    margin-bottom: 24px;
  }

  .comment__slider_info-text,
  .main__crypto-subtitle,
  .main__crypto-exchange,
  .main__crypto-info_results {
    font-size: 14px;
  }

  .comment__slider_info-title,
  .main__crypto-btn {
    font-size: 16px;
  }

  .stat,
  .advantages {
    margin-bottom: 120px;
  }

  .main__crypto {
    padding: 40px 24px;
  }

  .main__crypto-title {
    font-size: 18px;
  }

  .main__info-title::before {
    background: url(../img/vector-main.svg);
    background-repeat: no-repeat;
    width: 128px;
    height: 266px;
    left: auto;
    right: 0;
    top: -36px;
  }

  .stat__boxmedium_info-progress::after {
    left: 1px;
    bottom: 47px;
    width: 6px;
    height: 4px;
  }

  .stat__boxmedium_info-progress-text::after {
    left: 92px;
    bottom: 16px;
    width: 5px;
    height: 5px;
  }
}

@media only screen and (max-width: 515px) {
  .main__crypto {
    width: 100%;
  }

  .main__crypto-btn {
    width: 100%;
  }

  .container-main-index {
    padding: 0;
  }

  .main__info {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 505px) {
  .main__crypto_drop-btn {
    width: 190px;
  }

  .main {
    margin-top: 48px;
  }

  .main__crypto-btn {
    width: 100%;
    height: 58px;
  }

  .main__crypto-subtitle-sec,
  .main__crypto-subtitle-first,
  .main__crypto,
  .main__crypto_field {
    max-width: 100%;
  }

  .main__info-link {
    font-size: 16px;
    padding: 20px 38px 20px 65px;
  }

  .main__info-link::before {
    background: url(../img/shield2.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    top: 20px;
    margin-left: -25px;
  }

  .main__info-subtitle {
    width: 100%;
    text-align: left;
  }

  .main__info-title {
    font-size: 32px;
    text-align: left;
    margin: 0;
  }

  .main__crypto-info_results {
    font-size: 12px;
  }

  .comment__slider_boxtop-user {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .stat__boxbig-name,
  .stat__boxbig-price {
    font-size: 14px;
  }
}